
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia vel iusto mollitia 
                temporibus voluptas soluta perferendis natus laborum totam, est, et dicta quam nesciunt ad in 
                amet rerum vitae.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia vel iusto mollitia 
                temporibus voluptas soluta perferendis natus laborum totam, est, et dicta quam nesciunt ad in 
                amet rerum vitae.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia vel iusto mollitia 
                temporibus voluptas soluta perferendis natus laborum totam, est, et dicta quam nesciunt ad in 
                amet rerum vitae.
            </p>
        </ul>
    </div>
</div>