.row{
    padding: 20px;
}

div{
    background-color: #a1b5cb;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        right: 63%;
        top: 600px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 700px;
    }
}